Source: griffith-extra-artwork
Section: gnome
Priority: extra
Maintainer: Piotr Ożarowski <piotr@debian.org>
Build-Depends: debhelper (>>4)
Standards-Version: 3.7.2

Package: griffith-extra-artwork
Architecture: all
Depends: griffith (>=0.6)
Description: Griffith additional artwork files
 Griffith is a film collection manager application.
 .
 This package contains extra artwork for Griffith.
