#!/usr/bin/make -f
# -*- makefile -*-

clean:
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_installdirs
	
	$(MAKE) install DESTDIR=$(CURDIR)/debian/griffith-extra-artwork/

build:
binary-arch:
binary-indep:

binary: install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	dh_clean -k 

.PHONY: build clean binary install binary-arch binary-indep
